.tree_list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.tree_list .tree_list__item {

}

.tree_list .tree_list__button {
    display: inline-block;
}

.tree_list__input {
    padding: 10px;
}

.tree_list__button___send {

}